body {

    background-color:#f8fafc;

}


.main {

    background-color:#f8fafc;

}



h1 {

    color:#12355b;

}



h2 {

    color:#12355b;

}



.stMetric {

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:0px 4px 12px rgba(0,0,0,0.08);

}



.stButton button {


    background:#12355b;

    color:white;

    border-radius:10px;

    height:45px;

    font-size:16px;

}



.stButton button:hover {


    background:#0b2545;

    color:white;

}



div[data-testid="stSidebar"] {


    background:#ffffff;

}



.stAlert {


    border-radius:12px;

}